@use './variables' as *;

header{

    .container{
        height: 80px;

        .container-img{
            img{
                max-width: 60px;
            }
        }

        nav{
            height: 100%;

            ul{
                height: 100%;

                li{
                    display: flex;
                    align-items: center;
                    font-weight: 600;   
                }

                .active{
                    border-bottom: 6px solid blue;
                    color: blue;
                }
            }
        }
    }
}

